<div class="username"><h4>Username: <%= user['username'] %></h4></div>
	  <div class="user"><p>Name: <%= user['name'] %></p></div>
	   <div class="website"><p>Website: <%= user['website'] %></p></div>
	   <div class="company"><p>Company: <%= user['company']['name'] %></p></div>