
<div class="container">
	<div class="row">
		<div class="col-xl-4 col-lg-6">
		  <%= render partial: "users/user_details", locals: { user: @user } %></div>
		 <div class="col-xl-4 col-lg-6">
		  <%= render partial: "users/user_contact", locals: { user: @user } %></div>
	   <div class="col-xl-4 col-lg-6">
	    <%= render partial: "users/user_address", locals: { user: @user } %>
    </div>
  </div>
</div>
<%= render partial: "albums", locals: { albums: @albums, user: @user } %>